MONGO_ROOT_PASS="#example123!"
MONGO_PRIMARY_HOST='example-mongodb:27017'

MONGO_NAME='example'
MONGO_USER='exampleUser'
MONGO_PASS='#example123!'

# TLS (optional)
MONGO_NODE_NAME='example-mongodb'
MONGO_TLS_EXTRA_SAN='IP:192.168.1.88'